################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/pmv-ads-2024-1-e2-ProjKipa/FileContentIndex
/src/.vs/Kippa/FileContentIndex/2683b1eb-128a-4228-a78d-575dbf5bfe02.vsidx
/.vs/slnx.sqlite
