@model Kippa.Models.Lembrete

@{
    ViewData["Title"] = "Create";
}

<div class="form">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NomeLembrete" class="control-label" style="font-size:2em; font-weight: 500;">Nome do Lembrete</label>
                    <input asp-for="NomeLembrete" class="form-control" style="border-radius:4%/50%" />
                    <span asp-validation-for="NomeLembrete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataLembrete" class="control-label" style="font-size:1.5em; font-weight: 400;">Data do Lembrete</label>
                    <input asp-for="DataLembrete" class="form-control" style="border-radius:4%/50% width: 33%" />
                    <span asp-validation-for="DataLembrete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label"></label>
                    <input asp-for="Categoria" class="form-control" />
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}