@model Kippa.Models.Lembrete

@{
    ViewData["Title"] = "Edit";
}


<div class="form">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdLembrete" />
                <div class="form-group">
                    <label asp-for="NomeLembrete" class="control-label" style="font-size:2em; font-weight: 500;"> Nome do Lembrete </label>
                    <input asp-for="NomeLembrete" class="form-control" />
                    <span asp-validation-for="NomeLembrete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataLembrete" class="control-label" style="font-size:1.5em; font-weight: 400;">Data do Lembrete</label>
                    <input asp-for="DataLembrete" class="form-control" />
                    <span asp-validation-for="DataLembrete" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notificacoes" class="control-label">Notificações</label>
                    <input asp-for="Notificacoes" class="form-control" />
                    <span asp-validation-for="Notificacoes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioId" class="control-label"> ID do Usuário </label>
                    <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
