/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.btnholder {
    width: 65%;
    height: 2em;
    display: flex;
    margin: 0 auto;
    top: 15vh;
    justify-content: space-between;
}
.btn {
    background-color: hsl(203, 100%, 46%);
    border-radius: 10% / 100%;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.btnholder a {
    text-decoration: none;
    color: white;
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Estilo das células da tabela */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo das células do cabeçalho da tabela */
th {
    background-color: #f2f2f2;
}

