.form-container {
    width: 300px; /* largura do formulário */
    margin: 0 auto; /* centraliza horizontalmente */
    border: 1px solid #ccc; /* borda sólida com cor cinza */
    padding: 20px; /* espaço interno */
    border-radius: 5px; /* bordas arredondadas */
}

    /* Estilo para os campos do formulário */
    .form-container input[type=text],
    .form-container input[type=password] {
        width: 100%; /* preenche a largura do contêiner */
        padding: 10px; /* espaço interno */
        margin: 8px; /* margem superior e inferior */
        box-sizing: border-box; /* inclui padding e borda no tamanho total */
    }

    /* Estilo para o botão do formulário */
    .form-container button {
        background-color: #4CAF50; /* cor de fundo verde */
        color: white; /* cor do texto branco */
        padding: 15px 20px; /* espaço interno */
        margin: 8px 0; /* margem superior e inferior */
        border: none; /* remove a borda */
        border-radius: 4px; /* bordas arredondadas */
        cursor: pointer; /* cursor ao passar sobre o botão */
        width: 100%; /* preenche a largura do contêiner */
    }

        /* Estilo para o botão do formulário ao passar o mouse */
        .form-container button:hover {
            background-color: #45a049; /* cor de fundo escura ao passar o mouse */
        }

