@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

body {
    -moz-osx-font-smoothing: grayscale;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    background: #f5f5f5;
    color: #777;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-weight: 200;
    font-size: 2.2rem;
    color: #222;
    text-align: center;
}

div {
    text-align: center;
}

.botoes {
    background-color: hsl(203, 100%, 46%);
    color: white;
    width: 10%;
    cursor: pointer;
}

.lembretes {
    background-color: #777;
    color: white;
    width: 20%;
    height: 90px;
    font-size: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-content: start;
    position: fixed;
    background: hsl(203, 100%, 46%);
    width: 422px;
    height: 95%;
    margin-top: 56px;
}

.sidebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background: hsl(206, 83%, 65%);
    width: 422px;
    height: 96px;
    border-radius: 50px;
    font-size: 30px;
}

.camp1, .camp2 {
    width: 68.5%;
    margin-top: 3%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.camp2 {
    margin-top: 6%;
}

.name, .surname, .email, .senha {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

input {
    width: 289px;
    height: 44px;
    background: hsl(0, 0%, 89%);
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 50px;
}

nav {
    margin: 0 auto;
    width: 100%;
    background: hsl(203, 100%, 46%);
    box-shadow: 0 3px 15px rgba(0,0,0,.15);
}

    nav::after {
        display: block;
        content: '';
        clear: both;
    }

    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        nav ul li {
            float: left;
            position: relative;
        }

            nav ul li a {
                display: block;
                color: rgba(255, 255, 255, .9);
                text-decoration: none;
                padding: 1rem 2rem;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                transition: all .3s ease-in-out;
            }

                nav ul li a:hover,
                nav ul li a:focus {
                    background: rgba(0, 0, 0, .15);
                }

                nav ul li a:focus {
                    color: white;
                }

                nav ul li a:not(:only-child)::after {
                    padding-left: 4px;
                    content: ' ▾';
                }

            nav ul li ul li {
                min-width: 190px;
            }

                nav ul li ul li a {
                    background: transparent;
                    color: #555;
                    border-bottom: 1px solid #DDE0E7;
                }

                    nav ul li ul li a:hover,
                    nav ul li ul li a:focus {
                        background: #eee;
                        color: #111;
                    }

.dropdown {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}
